<html>
<head>
    <title>Streamer</title>
    <link rel = 'stylesheet' href = '/stylesheets/style.css'></link>
</head>
<body>
    <div>Bar</div>
    <div>For streaming</div>
    <div id = 'for-chat'>
        <div id = 'messages'></div>
        <form id = 'send-form'>
            <input id = 'message'>
            <button id = 'send-button' type = 'submit'  value = 'send'>Send</button>
        </form>
    </div>
</body>
</html>